#srcbtn {
    position: absolute;
    top: 320px;
    /* I usually locate relative to top  */
    left: 580px;
    position: fixed;
    /* left corner of container (screen) */
    /*  often useful to keep screen orderly */
}

.dark-mode {
    --primary-color: #0e141b;
    --secondary-color: #182129;
    --text-color: #fff;
    --glassmorphism-shadow: none;
    --tertiary-color: #fff;
    --card-background-color: rgba(255, 255, 255, 0.1);
    --moon-color: #ffce45;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-light {
    position: fixed;
    bottom: 20px;
    right: 30px;
    height: 50px;
    width: 50px;
    background-color: var(--dropdown-bg);
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    color: var(--moon-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: var(--glassmorphism-border);
}

#txt {
    position: absolute;
    left: 135px;
}

#img {
    position: absolute;
    left: 870px;
    width: 500px;
    height: auto;
}

.openbtn {
    position: absolute;
    top: 29px;
    left: 1500px;
    font-size: 15px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 5px 10px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}